{% extends 'back_end/base.html.twig' %}

{% block title %} Modification d'utilisateur. {% endblock %}

{% block body %}
    {{ form_start(userUpdate) }}
    {{ form_row(userUpdate.nom, {label: 'Nom'}) }}
    {{ form_row(userUpdate.prenom, {label: 'Prenom'}) }}
    {{ form_row(userUpdate.email, {label: 'Email'}) }}
    {{ form_row(userUpdate.plainPassword, {
        label: 'Mot de passe'
    }) }}
    <div class="col-md-12 padd-0 mrg-top-30">
        {{ form_end(userUpdate) }}
    </div>
{% endblock %}
