{% extends 'base-front.html.twig' %}
{% block body %}
    <div class="row">
        {% for activite in activites %}
            <!-- Single Restaurent List -->
            <div class="col-lg-6 col-md-6">
                <article class="restaurent-box list-style">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="restaurent-box-image">
                                <a href="restaurant-detail.html">

                                    <img class="img-responsive
												restaurent-box-img" src="{{ asset('img/téléchargement.jpg') }}" alt="">

                                </a>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                                <h4 class="restaurent-place">
                                    <a href="#">Activite</a>
                                </h4>
                                <span class="featured-tour"><i class="fa fa-star"></i></span>
                            </div>
                        </div>

                        <div class="col-md-7 col-sm-7">
                            <div class="inner-box">

                                <div class="box-inner-ellipsis">
                                    <div style="margin: 0px; padding: 0px; border: 0px;">
                                        <h3 class="entry-title">
                                            <a href="restaurant-detail.html">{{ activite.nom }}</a>
                                        </h3>
                                        <div class="entry-content">
                                            <p>{{ activite.description }}</p>


                                            <span class="price"> <strong
                                                   <p>{{ activite.prixActivite }}$</strong> /per person</span></p>
                                            <span class="type"> <strong
                                                   <p>Type d'activite: </strong>
                                        </span> {{ activite.typeActivite }}</p>
                                            <span class="temps"> <strong
                                                   <p>Temps nécessaire: </strong>
                                        </span> {{ activite.temps }}</p>
                                            <span class="Nombre de participant"> <strong
                                                   <p>Nombre de participant: </strong>
                                        </span> {{ activite.nombreParticipant }}</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="entry-meta">
                                    <div class="meta-item meta-author">
                                        <div class="hotel-review entry-location">
                                            <span class="review-status bg-success"><i class="ti-check"></i></span>
                                            <h6><span class="cl-success font-bold">Good</span>1162 Review</h6>
                                        </div>
                                    </div>
                                    <div class="meta-item meta-comment fl-right">
                                        <div class="view-box">
                                            <div class="fl-right">
                                                <span><i class="ti-eye padd-r-5"></i>1780</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta-item meta-rating fl-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
