{% extends 'back_end/base.html.twig' %}
{% block body %}
    <section class="panel">
        <header class="panel-heading">
            Liste des Reservations
        </header>

        <table class="table table-striped table-advance table-hover">
            <tbody>
            <tr>
                <th>
                    <i class="icon_tag"></i>
                    Numero de vol
                </th>
                <th>
                    <i class="icon_pencil"></i>
                    Destination
                </th>
                <th>
                    <i class="icon_comment"></i>
                    Date de depart
                </th>

                <th>
                    <i class="icon_profile"></i>
                    Date d'arrivee
                </th>

                <th>
                    <i class="icon_profile"></i>
                    Adultes
                </th>
                <th>
                    <i class="icon_profile"></i>
                    Enfants
                </th>
                <th>
                    <i class="icon_cogs"></i>
                    Action
                </th>
            </tr>


            {% for r in Reservation %}
                <tr>
                    <td>{{ r.NumVol }}</td>
                    <td>{{ r.Destination }}</td>
                    <td>{{ r.DateDepart | date }}</td>
                    <td>{{ r.DateArrivee | date }}</td>
                    <td>{{ r.Adulte }}</td>
                    <td>{{ r.Enfant }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-danger" href="{{ path('deletereservation',{'id':r.id}) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>
        {{ knp_pagination_render(Reservation) | raw }}
    </section>
{% endblock %}
