{% extends 'back_end/base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Voyage index</h1>




    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>DateDepart</th>
            <th>DateRetour</th>
            <th>NbrVoyageurs</th>
            <th>Prix</th>
            <th>Ville</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.dateDepart ? voyage.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.dateRetour ? voyage.dateRetour|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.nbrVoyageurs }}</td>
                <td>{{ voyage.prix }}</td>
                <td>{{ voyage.ville }}</td>
                <td>
                    <a href="{{ path('voyage_showback', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('voyage_editback', {'id': voyage.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voyage_newback') }}">Create new</a>
{% endblock %}
